* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}

img {
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 100px;
  height: 50px;
}
.name {
  transform: translateY(-90%);
  display: inline-block;
}
.cards {
  background: linear-gradient(85deg, #434343, #262626);
  padding: 20px;
  width: 400px;

  border-radius: 10px;
  height: 360px;
  color: white;
  margin-left: -25px;
  border: linear-gradient(85deg, #434343, #262626) solid 3px;

  transition: transform 0.5s;
}
.cards:hover {
  /* transform: rotate(6deg); */
  transform: rotate(6deg) translatex(-20px);
}

.cards:first-child {
  margin: 0;
}
span {
  color: gray;
}
h2 {
  margin-top: 20px;
}
.links {
  margin-top: 20px;
}
.links a {
  color: #ff7a18;
  text-decoration: none;
}
