* {
  margin: 0px;
  padding: 0px;
  font-family: "Tungsten Bold", sans-serif;
  /* font-family: "Varela Round", sans-serif; */
  /* font-family: "Merriweather", serif; */
  /* font-family: "Viga", sans-serif; */
}

/******* side menu styling ********/

.side-menu {
  list-style: none;
  border: 1px #ddd solid;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
}

.side-menu li {
  font-size: 18px;
  line-height: 2.4em;
  border-bottom: dotted 1px #ddd;
}

.side-menu li:last-child {
  border: none;
}

.side-menu li a {
  color: black;
  text-decoration: none;
  font-family: "Tungsten Rounded", sans-serif;
  font-weight: 500;
}

.side-menu li a:hover {
  color: rgb(75, 202, 219);
}

/******* Navbar styling ********/

.navbar {
  overflow: auto;
  background-color: #ffe88c;
  /* background-color: #faf8f2; */
  padding-top: 10px;
}
.navbar div {
  float: left;
  padding-left: 30px;
  padding-top: 10px;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  float: right;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 15px 15px;
  font-family: "Tungsten Rounded";
  line-height: 1.2;
  font-weight: 500;
  font-size: 22px;
}

.logo-title {
  font-size: 11px;
}

.logo-burger {
  font-size: 13px;
}
.navbar ul li a:hover {
  color: rgb(71, 184, 199);
}
/*******************************************************************************************************/

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex; */
  background-color: #ffe88c;
  padding: 10px;
}
.grid-item1 {
  text-align: center;
  padding: 80px;
}

.burger-Img {
  max-width: 500px;
  position: relative;
  z-index: 200;
}
.css-Img {
  width: 230px;
  position: absolute;
  left: 500px;
  top: 145px;
}

.html-Img {
  width: 350px;
  position: absolute;
  left: -10px;
  top: 320px;
  z-index: 250;
}

h2 {
  font-size: 90px;
  font-weight: 600;
  text-shadow: 3px 7px 0 rgba(0, 0, 0, 0.15);
  font-weight: 700;
  color: rgb(53, 53, 53);
}

.grid-item2 .last-h2::before {
  content: "";
  width: 90px;
  position: absolute;
  bottom: 100px;
  margin: auto;
  background-size: 100%;
  height: 10px;
  background-image: url(./img/wave-charcoal.png);
}
.grid-item2 {
  /* padding-top: 45px; */
  /* position: relative; */
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
}

.p-burger {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* line-height: 1.5; */
}

.grid-item2 p {
  margin-top: 200px;
}

.btn {
  position: relative;
  color: black;
  text-decoration: none;
  display: inline-block;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.btn > span {
  border: 2px solid transparent;
  display: inline-block;
}
